<div class="w-full lg:w-1/2 mx-auto">
    <h1 class="text-3xl lg:text-5xl font-bold tracking-tighter inline-block align-middle">My Splits</h1>
    <div (click)="addSplit()" class="inline-flex mx-4 align-sub">
        <span class="w-8 h-8 text-xl font-bold cursor-pointer text-bg-default hover:border bg-text-secondary hover:bg-bg-default hover:text-text-secondary rounded-full text-center">+</span>
    </div>
    <ul class="w-full mt-12">
        <li class="my-4" *ngFor="let split of splits">
            <a class="text-3xl font-semibold lg:text-5xl tracking-tight" [routerLink]="['/dashboard', split._id]">{{split.name || "Untitled"}}</a>
            <span class="ml-4 text-xl lg:text-2xl font-mono tracking-tighter">{{split.date | date}}</span>
            <p class="w-full text-lg">
                <span class="font-bold">{{split.users.length}}</span>
                 members, 
                <span class="font-bold">{{split.transactions.length}}</span>
                 transactions
                <a class="text-text-secondary font-bold cursor-pointer" (click)="deleteSplit(split._id)">Remove</a>
            </p>
        </li>
    </ul>
</div>