<div class="w-full">
    <div class="w-full py-24 lg:w-3/4 mx-auto">
        <div class="w-full lg:w-1/2 inline-block tracking-tight">
            <h1 class="text-3xl lg:text-5xl font-bold"><span class="text-text-tertiary font-extrabold">Splits</span> made <span class="text-text-secondary font-extrabold">easy</span></h1>
            <p class="lg:text-2xl">Manage your <span class="text-text-secondary font-bold">groups' spendings</span> with no effort, let the bill struggle become a <span class="text-text-secondary font-bold">fairy</span> tale</p>
            <p class="mt-12 lg:mt-4 lg:float-right lg:text-2xl text-xl">
                <a class="underline underline-offset-4 hover:no-underline hover:bg-text-secondary pr-1 lg:pr-4 py-2 rounded-tr-md rounded-bl-md hover:text-bg-default" routerLink="/login">Get started</a>
                , it only takes 2 minutes
            </p>
        </div>
        <div class="w-full lg:w-1/2 inline-block align-middle">
            <img class="hidden lg:block w-3/4 float-right pointer-events-none" src="/assets/images/home.png" alt="Fairy">
        </div>
    </div>
</div>
